@*RAZOR nyelven írjuk a nézetet*@
@model IEnumerable<FamilyPhotos.Models.PhotoModel>

<h2>Fényképek listája</h2>

@foreach (var photo in Model)
{
<div>
    @*Az url action összeköti a routinggal,direktbe is lehetne írni az url-t*@
    @if (photo.Picture != null)
    {
    <image src="@Url.Action("GetImage", new { photoId = photo.Id })"></image>
    }
    <div>@photo.Title</div>
</div>
}

<div>
    @Html.ActionLink("Új fotó létrehozása","Create")
</div>